/* ============================================
   Cairo Font – All Weights
   ============================================ */

@font-face {
    font-family: "Cairo";
    src: url("/fonts/UltraLight-1.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Cairo";
    src: url("/fonts/LIGHT-1.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Cairo";
    src: url("/fonts/Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Cairo";
    src: url("/fonts/Medium-2.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Cairo";
    src: url("/fonts/Bold-2.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Cairo";
    src: url("/fonts/Heavy-1.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Cairo";
    src: url("/fonts/Black-2.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
}